<!DOCTYPE html>
<html>
    <head>
        <title>Stake.com Verifier</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app">
            <h1><a class="title-button" href="https://stake.com/?code=stakeverifier">Stake.com</a> Verifier</h1>
            <div id="input" class="center-box">
                <h2>Input</h2>
                <input type="text" v-model="client_seed" placeholder="Client Seed">
                <input type="text" v-model="server_seed" placeholder="Server Seed">
                <input type="text" v-model="server_hash" placeholder="Server Seed Hash">
                <input type="number" v-model="nonce" placeholder="Nonce">
                <h3>Game</h3>
                <div id="games">
                    <span class="game" v-for="game in games" v-on:click="active_game = game.name" v-bind:class="{active: active_game === game.name, disabled: game.disabled}">{{game.name.replace(' ','&nbsp;')}}</span>
                </div>
            </div>
            <div id="output" class="center-box">
                <h2>Output</h2>
                <pre v-if="server_seed">{{`sha256(server_seed): ${sha256(server_seed)}`}}</pre>
                <pre v-if="server_seed && server_hash">Server seed matches provided hash: <span v-bind:result="seed_hash_match() || 'false'">{{seed_hash_match()}}</span></pre>
                <pre v-if="client_seed && server_seed && nonce">{{`(client_seed:nonce:round): ${client_seed}:${nonce||0}:${round||0}`}}</pre>
                <pre v-if="client_seed && server_seed && nonce && active_game === 'Plinko'">{{`(client_seed:nonce:round): ${client_seed}:${nonce||0}:${1}`}}</pre>
                <pre v-if="client_seed && server_seed && nonce && active_game === 'Plinko'">{{`(client_seed:nonce:round): ${client_seed}:${nonce||0}:${2}`}}</pre>
                <pre v-if="client_seed && server_seed && nonce">{{`hmac_sha256(server_seed, client_seed:nonce:round): ${hmac_sha256(server_seed, `${client_seed}:${nonce||0}:${round||0}`)}`}}</pre>
                <pre v-if="client_seed && server_seed && nonce && active_game === 'Plinko'">{{`hmac_sha256(server_seed, client_seed:nonce:round): ${hmac_sha256(server_seed, `${client_seed}:${nonce||0}:${1}`)}`}}</pre>
                <pre v-if="client_seed && server_seed && nonce && active_game === 'Plinko'">{{`hmac_sha256(server_seed, client_seed:nonce:round): ${hmac_sha256(server_seed, `${client_seed}:${nonce||0}:${2}`)}`}}</pre>
                
                <div v-if="(active_game === 'Dice' || active_game === 'Roulette') && client_seed && server_seed && nonce">
                    <h4>First four bytes</h4>
                    <hexdectable v-bind:hex="bytes_to_hex_array(bytes()).slice(0,4)" v-bind:dec="bytes_to_hex_array(bytes()).map(function(x){return parseInt(x,16)}).slice(0,4)"></hexdectable>
                    <h4>Bytes to Number</h4>
                    <numcalc v-bind:bytes="bytes_to_hex_array(bytes()).slice(0,4).map(function(x){return parseInt(x,16)})"></numcalc>
                    <pre v-if="active_game === 'Dice'">{{`Math.floor(${bytes_to_number(bytes())} * ${MAX_ROLL}) / 100 = ${result(active_game)}`}}</pre>
                    <pre v-if="active_game === 'Roulette'">{{`Math.floor(${bytes_to_number(bytes())} * ${MAX_ROULETTE}) = ${result(active_game)}`}}</pre>
                    <pre>{{`Final result: ${result(active_game)}`}}</pre>
                </div>

                <div v-if="(active_game === 'Plinko') && client_seed && server_seed && nonce">
                    <h4>Convert each set of four bytes into a number</h4>
                    <p><i>Note: 20 "directions" will be displayed but only the amount corresponding to the amount of pins is used</i></p>
                    <hexdectable v-bind:hex="bytes_to_hex_array(bytes())" v-bind:dec="bytes_to_hex_array(bytes()).map(leading_zeroes)"></hexdectable>
                    <hexdectable v-bind:hex="bytes_to_hex_array(bytes({round:1}))" v-bind:dec="bytes_to_hex_array(bytes({round:1})).map(leading_zeroes)"></hexdectable>
                    <hexdectable v-bind:hex="bytes_to_hex_array(bytes({round:2})).slice(0,16)" v-bind:dec="bytes_to_hex_array(bytes({round:2})).map(leading_zeroes).slice(0,16)"></hexdectable>
                    <p>Each set of 4 bytes is turned into a number in the range <code>[0, 1)</code>. Only the first calculation is displayed for conciceness.</p>
                    <numcalc v-bind:bytes="bytes_to_hex_array(bytes()).slice(0,4).map(function(x){return parseInt(x,16)})"></numcalc>
                    <table>
                        <tr>
                            <td><strong>Pin #</strong></td><td><strong>Number</strong></td><td><strong>Number * 2</strong></td><td><strong>Direction</strong></td>
                        </tr>
                        <tr v-for="(num, i) in bytes_to_num_array(bytes()+bytes({round:1})+(bytes({round:2}).substr(0,16)))">
                            <td>{{i}}</td><td>{{num}}</td><td>{{num*2}}</td><td>{{Math.floor(num*2)?'right':'left'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <p><a href="https://github.com/RGBKey/stake-verifier">GitHub Source</a> &bull; Donations: <a href="bitcoin:146LimMTUjTsZhVnfKEqYBtUDfHVqinxH6?label=Stake%20Verifier%20Donation">146LimMTUjTsZhVnfKEqYBtUDfHVqinxH6</a></p>
            <p>This project uses the third-party libraries <a href="https://vuejs.org/">Vue.js</a> and <a href="https://github.com/digitalbazaar/forge">Forge</a></p>
        </div>
        <script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>
        <script src="https://unpkg.com/vue@2.4.2"></script>
        <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
        <script src="main.js"></script>
    </body>
</html>